 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
    
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,a,button{
    font-family: "Monsterrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black; 
    text-decoration: none;
}

.chat_me{
  font-family: "Monsterrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white; 
  text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-between;
    align-items: center;
    padding: 30px 10%;
    height: 150px;
}

.logo{
    cursor:pointer;
    height: 150px;
    width:150px;
    margin-right: auto;
    float: left;
}


.nav_links{
    list-style: none;
    margin-top:10px ;
    padding-left: 20px;
}    
.nav_links li{
    display: inline-block;
    padding: 20px 30px;
    justify-content: right;
    margin-left: auto;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;

}

.d-flex{
    float: right;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.creator{ 
    background-color: #41EED4;
}

.chatbot-image{
  height: 500px;
  width: 500px;
  margin-right: 70px;
  margin-bottom: 15px;
  margin-top: 30px;
  float: right;
}


.Desc {
  box-sizing: border-box;
  position: center;
  text-align: center;
  font-size: small;
  margin: auto;
  width: 25%;
  padding: 1px;
  margin-left: 150px;
}

.Desc-image{
  display: block;
  margin-left: auto;
  margin-right: 25px;
  margin-top: 45px;
  float: right;
}
.section{
    border: 5px solid black;
    height: 900px;
    
}
  h1{
    margin-right: auto;
    text-align: center;
    margin-left: 5px;
    font-family: Open Sans, 'Helvetica', 'Arial', sans-serif;
    color: black;
    font-style:bold;
  }
.content{
    max-width: 900px;
    margin-top: 300px;
    float: left;
    color:#21C323;


}
.social{
  height: 300px;
  background-color: white;
}

.hero{
  margin: 0;
  padding: 0;
  height: 600px;
  margin-right: 0;
  background-color: white;


}

p{
  font-size: medium;
}

.creator{
  font-weight:bold;
}

.search_btn{
  transition-duration: 0.4s;
  border-radius: 12px;
  padding: 5px 12px;
  margin-left: 25px;
  justify-content: right;
  background-color: pink;
  color: white;
}

.search{
  border-radius: 12px;
  text-align: center;
}

.search_btn:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.map
{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
iframe
{
	width: 80%;
	height: 500px;
	filter: invert(100%);
  margin-left: 150px;
}

.chat_btn {
  transition-duration: 0.4s;
  color: white;
}

.chat_btn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.card-deta{
  background-color: white;
  height: 800px;
}


.column {
  float: left;
  width: 25%;
  padding: 0px 10px;
  margin: 150px;
  margin-bottom: 50px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(12, 180, 231, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color:  skyblue;
  position: center;
  margin-top: 25px;
  height: 500px;
  width: 500px;
  display: flex;
  transition: all 0.3s ease-out;
  border-top-right-radius: 10px;
}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(12, 199, 237, 0.11),
    0 24px 46px var(--box-shadow-color);
}


.Map{
  background-color: white;
  height: 800px; 
}

h4{
  margin-left: 150px;
  font-family: 'Tektur', cursive;
}

.card-desc{
  font-style: bold;
  font-size: medium;
}

.MedMart_img{
  height: 90px;
  width: 80px;
  margin-bottom: 15px;
}

.card-title{
  font-family: 'Roboto Mono', monospace;
  font-style: bold;
}



.earth {
  width: 300px;
  height: 300px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px #000 inset, 0 0 100px 10px #66FF00;
}

.earth:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: -20px -20px 50px 2px #000 inset;
  border-radius: 50%;
}

.earth > div {
  width: 200%;
  height: 100%;
  transition: transform 200ms linear;
  animation: rotate 30s linear infinite;
  
  background: url("https://media.istockphoto.com/id/1279773003/vector/world-map-in-blue-globe-symbol-in-flat-design-planet-silhouette-earth-with-continents-on.jpg?s=612x612&w=0&k=20&c=f-STW3qz7sLS_OU8Y9pD53xFeDKl10ILTAiTHOCU3yc=");

  /*orginal image at https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Earthmap1000x500compac.jpg/640px-Earthmap1000x500compac.jpg */
  background-size: cover;
}

@keyframes rotate {
    0% {background-position: 0 0;}
    100% {background-position: 630px 0;}
  }